<nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center p-2" href="#">
            <img class="logo mx-1" src="./assets/images/notes-notepad-svgrepo-com.svg" alt="" srcset="">Take my notes</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav d-flex align-items-center ms-auto mt-2 mt-lg-0">

                <li *ngIf="!flag" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">login</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" routerLink="/login">Login</a>
                        <a class="dropdown-item" routerLink="/register">Register</a>
                    </div>
                </li>
                <li *ngIf="flag" class="nav-item dropdown">
                    <span class="logOut" (click)="logOut()">Log out</span>         
                </li>
            </ul>

        </div>
  </div>
</nav>
